<td><%= link_to user.name, user %></td>
<td><%= link_to user.schooltype, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= link_to user.city, user %></td>
<td><%= link_to user.state, user %></td>
<td><%= link_to user.pincode, user %></td>
