<div>
<h3><%= @user.name if @user.name %></h3>
<h4><%= @user.city if @user.city %> , <%= @user.state if @user.state %> - <%= @user.pincode if @user.pincode %> </h4>
<p>Email: <%= @user.email if @user.email %></p>
</div>
<div>
          <% @admissions = Admission.where(user_id: @user.id).order(:subject_id, :sclass_id) %>
          <% @admissions.each do |admission| %>
          <% if admission.sclass_id < 10 %>
            
            
            <div class=" grid1 col-md-3 col-sm-4 col-xs-12" style=" margin:5px 0px 5px 0px; background-color: #dddddd;">
                  <div class="subject col-xs-12 col-sm-12">
                      <%= Sclass.find(admission.sclass_id).sclassname %>
                  </div>
                  
                  
                  <div class="info col-xs-12 col-sm-6">
                       Opening on: <%= admission.startdate %>
                  </div>
                  <div class="info col-xs-12 col-sm-6">
                       Closing on: <%= admission.enddate %>
                  </div>                
              
              
              <span><%= link_to "  Admission Fee Rs.#{admission.totalfee}", admission, {class: "btn btn-default btn-xs glyphicon glyphicon-list col-xs-12", style: "text-align:left;"} %></span>
                  
              <% if @user == current_user %>
                    <span aria-hidden="true"><%= link_to '', edit_admission_path(admission.id), {class: "btn btn-default btn-xs glyphicon glyphicon-edit col-xs-6"} %></span>
                    <span aria-hidden="true"><%= link_to '', admission,method: :delete, data: { confirm: 'Are you sure?'} , class: "btn btn-default btn-xs glyphicon glyphicon-trash col-xs-6" %></span>                      
                           
              <% end %>
              </div>
          <% end %>  
        <% end %>

</div>
            
        <div class="col-xs-12">
            <% @sclassCol = @admissions.select("DISTINCT(sclass_id)").reorder('sclass_id asc') %>
            <% @subjectRow = @admissions.select("DISTINCT(subject_id)").reorder('subject_id asc') %>
 

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
            <!-- print header of table-->
            <th>Subject</th>
                <% @sclassCol.each do |p|%>
            <th><%= Sclass.find(p.sclass_id).sclassname %></th> 
                <% end %>
            <!-- print header end-->
            <% @subjectRow.each do |subj| %>
                <tr>
                <td><%= Subject.find(subj.subject_id).subjectname %></td>
                    
                    <% @sclassCol.each do |scla| %>
                       <% @abcd = 1 %> <!-- @abcd to print blank <td> if cond. not true -->
                        <% @admissions.each do |admit| %>
                             <% if (admit.sclass_id == scla.sclass_id) && (admit.subject_id == subj.subject_id) %>
                               <% @abcd = 0 %>
                               <td><%= admit.totalfee %>
                               </td>
                             <% end %>
                        <% end %>
                        
                              <% if @abcd == 1 %>
                                 <td></td>
                              <% end %>  
                        
                    <% end %>
                   
                </tr>
            <% end %>
            </table>
        </div>    
